<table class="u-full-width">
  <thead>
    <tr>
      <th ng-repeat="c in ['','A','B','C','D','E','F', 'G']">{{c}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="r in [9,8,7,6,5,4,3,2,1]">
      <td>{{r}}</td>
      <td ng-repeat="c in ['A','B','C','D','E','F','G']" style="background-color:{{color(c, r)}}">{{c}}{{r}}</td>
    </tr>
  </tbody>
</table>
<p>Offline Modules</p>
<div ng-repeat="t in ['text', 'light', 'neuron']">
  {{t}}
  <ul>
    <li ng-repeat="c in stats.clients[t] | filter:{online: false}" style="color:red">
      {{c.device.gridcoordinate}},
      {{c.device.addr}}
    </li>
  </ul>
</div>
