<p>
  Text: <input class="wide" type="text" ng-model="text" ng-trim="false">
  <button ng-click="set('text',text)">set</button>
</p>
<p>
  Scene: <input type="text" ng-model="scene">
  <button ng-click="textscene(scene)">set</button>
  <button ng-click="textclear()">Clear</button>
  <button ng-click="textscene('stepup')">StepUp</button>
  <button ng-click="textscene('pactext')">Pacman</button>
  <button ng-click="textscene('rainbow')">Rainbow</button>
  <button ng-click="textscene('rain')">Rain</button>
  <button ng-click="textscene('snow')">Snow</button>
</p>
<p>
  Scroll: stepx: <input type="number" ng-model="stepx">
  stepy: <input type="number" ng-model="stepy">
  steps: <input type="number" ng-model="steps">
  interval: <input type="number" ng-model="interval">
  roundoffsets: <input type="checkbox" ng-model="roundoffsets">
  start: <input type="number" ng-model="start">
  <button ng-click="startScroll(stepx, stepy, steps, interval, roundoffsets, start)">start</button>
  <button ng-click="stopScroll()">stop</button>
</p>
<p>
  offsetx: <input type="number" ng-model="offsetx">
  <button ng-click="set('offsetx', offsetx)">set</button>
  offsety: <input type="number" ng-model="offsety">
  <button ng-click="set('offsety', offsety)">set</button>
</p>
<p>
  json: <input class="wide" type="text" ng-model="json">
  <button ng-click="send(json)">send</button>
</p>
<p>
  Fade: to: <input type="number" ng-model="to">
  t: <input type="number" ng-model="t">
  <button ng-click="fade(to, t)">fade</button>
</p>
<p>
  Color: <input type="color" ng-model="color">
  <button ng-click="set('color', color)">set</button>
  Backgroundcolor: <input type="color" ng-model="backgroundcolor">
  <button ng-click="set('backgroundcolor', backgroundcolor)">set</button>
</p>
<p>
  spacing: <input type="number" ng-model="spacing">
  <button ng-click="set('spacing', spacing)">set</button>
</p>
<p>
  <button ng-click="textinit()">re-init</button>
</p>
