<!DOCTYPE html>
<html ng-app="app" ng-cloak>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css" />
    <script src="vendor/angular.min.js"></script>
    <script src="vendor/angular-resource.min.js"></script>
    <script src="vendorangular-ui-router.min.js"></script>
    <script src="vendor/socket.io.slim.js"></script>
    <script src="vendor/lodash.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="ctrl">
  <p>Modules online: {{stats.online}} / {{stats.total}}</p>
  <p>
    Text: <input type="text" ng-model="text">
    <button ng-click="set('text',text)">set</button>
  </p>
  <p>
    stepx: <input type="number" ng-model="stepx">
    stepy: <input type="number" ng-model="stepy">
    steps: <input type="number" ng-model="steps">
    interval: <input type="number" ng-model="interval">
    roundoffsets: <input type="checkbox" ng-model="roundoffsets">
    start: <input type="number" ng-model="start">
    <button ng-click="startScroll(stepx, stepy, steps, interval, roundoffsets, start)">start</button>
  </p>
  <p>
    <button ng-click="stopScroll()">stop</button>
  </p>
  <p>
    to: <input type="number" ng-model="to">
    t: <input type="number" ng-model="t">
    <button ng-click="fade(to, t)">fade</button>
  </p>
  <p>
    Color: <input type="color" ng-model="color">
    <button ng-click="set('color',color)">set</button>
  </p>
  <p>
    Backgroundcolor: <input type="color" ng-model="backgroundcolor">
    <button ng-click="set('backgroundcolor',backgroundcolor)">set</button>
  </p>
  <p>
    spacing: <input type="number" ng-model="spacing">
    <button ng-click="set('spacing',spacing)">set</button>
  </p>
  <p>
    offsetx: <input type="number" ng-model="offsetx">
  <button ng-click="set('offsetx',offsetx)">set</button>
  </p>
  <p>
    offsety: <input type="number" ng-model="offsety">
    <button ng-click="set('offsety',offsety)">set</button>
  </p>
  <p>Modules</p>
  <ul style="clear:both">
    <li ng-repeat="t in stats.clients.text track by $index" style="">{{$index}} {{t}}</li>
  </ul>
  <ul style="list-style:none; border:0; float:left; clear:both">
    <li ng-repeat="neuron in stats.clients.neuron track by $index" style=""><button ng-click="fire($index)">Neuron_{{$index}}</button></li>
  </ul>
  <ul style="list-style:none; border:0; float:left; clear:both" ng-repeat="ledchain in ledchains track by $index">
    <li ng-repeat="led in ledchain track by $index" style="height:10px; width:10px; float:left; background-color:{{led}}"></li>
  </ul>
  <ul style="list-style:none; border:0; float:left; width:150px; clear:both">
    <li ng-repeat="module in modules track by $index" style="height:20px; width:28px; float:left; background-color:{{module}}"></li>
  </ul>
</body>
</html>
